@charset "utf-8";

/* 共通のスタイル */

body{
  text-align: left;
  color: #000;
  background-image: url(../images/back_3.png);
}

div#wrap{
  width: 800px;
  height: 780px;
  margin: auto;
  background-color: #fff;
}

header{
  margin: -13px 0 0 15px;
  width: 200px;
  position: fixed;
}

header img{
  width: 100%;
}

h1{
  margin: 0 auto 30px auto;
  padding: 60px 0 0 0;
  width: 200px;
  font-size: 250%;
  border-bottom: rgb(112, 112, 112) 2px solid;
  text-align: center;
}

form{
  text-align: center;
}

input[type='text']{
  color: rgba(50, 50, 60, 0.7);
  border: rgba(70, 70, 90, 0.8) 2px solid;
  border-radius: 3px;
}

input[type='text']:focus{
  border: rgba(70, 70, 90, 1) 2px solid;
  outline: none;
  box-shadow: 0 0 2px 1px rgba(90, 90, 110, 0.3);
}

input[type='password']{
  color: rgba(50, 50, 60, 0.7);
  border: rgba(70, 70, 90, 0.8) 2px solid;
  border-radius: 3px;
}

input[type='password']:focus{
  border: rgba(70, 70, 90, 1) 2px solid;
  outline: none;
  box-shadow: 0 0 2px 1px rgba(90, 90, 110, 0.3);
}

input[type='submit']{
  padding: 3px 5px;
  color: #000;
  background: #ECECEC;
  border-radius: 3px;
  transition: 0.7s;
}

input[type='submit']:hover{
  color: #ECECEC;
  background: #000;
}

input[type='reset']{
  padding: 3px 5px;
  color: #000;
  background: #ECECEC;
  border-radius: 3px;
  transition: 0.7s;
}

input[type='reset']:hover{
  color: #ECECEC;
  background: #000;
}

input[type='button']{
  padding: 3px 5px;
  color: #000;
  background: #ECECEC;
  border-radius: 3px 15px 15px 3px;
  transition: 0.7s;
}

input[type='button']:hover{
  color: #ECECEC;
  background: #000;
}
